/*-------------------------------------------------
Defaults
-------------------------------------------------*/

acronym, abbr {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}

/*-------------------------------------------------
Layout
-------------------------------------------------*/

span.updated {
  font-size: 11px;
  padding: 1px;
  background: #ffc;
  color: #777;
  margin-bottom: 10px;
  float: right;
}

span.notice {
  background: #ffc;
  color: #666;
  font-size: 12px;
  padding: 2px 5px;
  margin: -5px 0 15px;
  display: inline-block;
}

div.previous {
  color: #999;
  margin: 5px 0;
  padding: 1px 8px 4px;
}

div.updated {
  background: #ffc;
  padding: 1px 8px 4px;
}

.translations div.previous span.key {
  margin: 0 0 -2px;
  padding: 0;
}

.translations div.updated span.key {
  margin: 0 0 -2px;
  color: orange !important;
  padding: 0;
}

/*-------------------------------------------------
Translation tables
-------------------------------------------------*/

.translations span.key {
  color: #aaa;
  font-size: 9px;
  display: block;
}

.translations .warning {
  font-weight: bold;
  font-size: 25px;
  color: orange;
  padding: 2px 4px;
  display: none;
  cursor: help;
}

.translations .highlight {
  background-color: yellow;
}

.translations .original .interpolation,
.translations .original .carriage_return,
.translations .original .boolean  {
  color: #2fadcf;
  font-family: Courier, monospace;
  font-weight: bold;
  cursor: help;
}

.translations .original .carriage_return:before {
  content: "¶";
}
