/*-------------------------------------------------
Defaults
-------------------------------------------------*/

acronym, abbr {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}

/*-------------------------------------------------
Layout
-------------------------------------------------*/

span.updated {
  font-size: 11px;
  padding: 1px;
  background: #ffc;
  color: #777;
  margin-bottom: 10px;
  float: right;
}

span.notice {
  background: #ffc;
  color: #666;
  font-size: 12px;
  padding: 2px 5px;
  margin: -5px 0 15px;
  display: inline-block;
}

/*-------------------------------------------------
Translation tables
-------------------------------------------------*/

.translations span.key {
  color: #aaa;
  font-size: 9px;
  display: block;
}

.translations .warning {
  font-weight: bold;
  color: red;
  padding: 2px 4px;
  display: none;
  cursor: help;
}

.translations .highlight {
  background-color: yellow;
}

.translations .original .interpolation,
.translations .original .carriage_return,
.translations .original .boolean  {
  color: #2fadcf;
  font-family: Courier, monospace;
  font-weight: bold;
  cursor: help;
}

.translations .original .carriage_return:before {
  content: "¶";
}

.translations .locale.changed {
  border-color: #E9B666;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 201, 102, 0.6);
}
